<div id="win" class="vh-100 overflow-x-hidden">
    <div>
    <h1>Oops!... Looks like something went wrong</h1>
    </div>
    <div>
    <img src="../../../assets/images/default.gif" alt="duckie">
    </div>
    <div>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="btn btn-primary rounded-pill ms-4" style="z-index: 2;">Go Back</button>
    </a>
    </div>
</div>
<footer>
    <div class="pt-0 bottom-0"><app-footer></app-footer></div>
</footer>