<div id="win" class="vh-100 overflow-x-hidden">
    <div>
        <img src="../../../assets/images/default.gif" alt="duckie" height="90vh">
    </div>
    <div>
        <h3>Oops!... Looks like something went wrong</h3>
    </div>
    <div>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button class="btn btn-primary rounded-pill ms-4" style="z-index: 2;">Go Back</button>
        </a>
    </div>
</div>
<footer>
    <div class="pt-0 bottom-0"><app-footer/></div>
</footer>