<div class="container">
    <div class="content">
        <div>
            <input type="checkbox" id="pie-opener">
            <div class="pie-menu">
              <label for="pie-opener" class="pie-trigger-label">
                <div class="pie-trigger">
                  <i class="pie-closed las la-question"></i>
                  <i class="pie-open las la-times-circle"></i>
                </div>
              </label>
              <div class="pie--parts">
                <a href="#1"><i class="las la-cog"></i></a>
                <a href="#2"><i class="las la-comments"></i></a>
                <a href="#3"><i class="las la-info"></i></a>
              </div>
            </div>
        </div>
    </div>
</div>