<div class="vh-99 overflow-x-hidden">
    <app-navbar></app-navbar>
    <div class="container-fluid px-0 py-0">
        <br /><br /><br />
        <div class=" ele container shadow-lg rounded-4">
            <div class="container align-items-center">
                <header>
                    <h1><br><br>Welcome to My Reader<br><br></h1>
                    <p>You like reading??? &nbsp;&nbsp; I do too!<br>Let's share our favorite books and authors
                        together.
                    </p>
                </header>
            </div>
            <div>
                <main>
                    <section class="container px-5 pt-5">
                        There is something truly magical about getting lost in a good book.
                        Each turn of the page reveals a new world, a new perspective,
                        or a new adventure that has the power to transport you away from your daily routine and into a
                        limitless
                        realm of imagination.
                        Whether you're seeking comfort, inspiration, or knowledge, books offer a treasure trove of
                        delights
                        just
                        waiting to be discovered.
                        So why not take a break and indulge in the transformative power of literature? Open up a book
                        today
                        and let
                        the journey begin!
                        <br /><br />
                        You can also listen songs while reading the books of your choice as many people like to do
                        so.<br /><br />
                        <button class="btn btn-block btn-primary shadow-md" routerLink="/home" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Explore</button>
                    </section>
                    <section class="containern p-0">
                        <p class="text"><i class="fas fa-car-side fa-3x">Change in Mood needs Change in choice <br />
                                Explore
                                out Books Library </i> </p>
                        <button class="btn btn-block btn-primary shadow-md" routerLink="/all"
                            routerLinkActive="active" ariaCurrentWhenActive="page">Listen Songs</button>

                    </section>
                    <section class="container p-5">
                        <h2>About Us:</h2>
                        <p>Hi there! I'm a passionate reader who loves to explore different genres and authors.
                            I've been an avid readerfrom last few years,
                            and I've always been fascinated by the power of words to transport us to different worlds
                            and
                            inspire us
                            to see things from new perspectives.
                            I created this website as a place to share my love of reading and connect with other book
                            lovers.
                            I hope you find something here that sparks your curiosity and encourages you to pick up a
                            book
                            and start
                            your own journey!</p>
                    </section>
                    <section class="container p-5">
                        <p>It's Project given to me by my professors to develope a website as per my choice to showcase
                            my skills, which i have learnt till now.<br />
                            I would like to express my sincere gratitude to my professors, for their guidance and
                            support throughout the development of this website. Their encouragement and willingness to
                            let me work on this project have been invaluable. I am grateful for the opportunity to have
                            learned and grown through this project.</p>
                    </section>
                </main>
            </div>
        </div><br /><br /><br />
    </div>
    <div class="pt-10"><app-footer></app-footer></div>