<div id="win" class="vh-99 overflow-x-hidden">
    <app-navbar></app-navbar>
    <div class="ele container">
        <div class="container pt-4">
            <div class="row">
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Gulliver's Travels">
                    <!-- <img src="https://imgv2-1-f.scribdassets.com/img/word_document/245557238/original/ae1a3ca06a/1627816481?v=1" class="image card-img-top shadow rounded" alt="Image 1"> -->
                    
                    <img src="../../../assets/Novels/Gulliver's Travels/Gullivers_Travels.jpeg" class="image card-img-top shadow rounded" alt="Gulliver's Travels">
                    <a href="../../../assets/Novels/Gulliver's Travels/Gullivers Travels.pdf" target="_blank">
                    <button id="novel1" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Gulliver's Travels</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Jonathan Swift</code><br/>
                      <b>Publication On: </b><code class="text-dark">1726</code><br/>
                      <b>Format: </b><code class="text-dark">383 pages</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="A Little Life">
                    <img src="../../../assets/Novels/A Little Life/A_Little_Life.jpeg" class="image card-img-top shadow rounded" alt="A Little Life">
                    <a href="../../../assets/Novels/A Little Life/A Little Life.pdf" target="_blank">
                      <button id="novel2" class="image-button rounded-circle py-3">▶</button>
                      </a>
                    <div class="card-body">
                    <h5 class="card-title">A Little Life</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Hanya Yanagihara</code><br/>
                      <b>Publication On: </b><code class="text-dark">10 Mar, 2015</code><br/>
                      <b>Format: </b><code class="text-dark">720 pages</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Frankenstein">
                    <img src="../../../assets/Novels/Frankenstein/Frankenstein.png" class="image card-img-top shadow rounded" alt="Frankenstein">
                    <a href="../../../assets/Novels/Frankenstein/Frankenstein.pdf" target="_blank">
                    <button id="novel3" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Frankenstein</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Mary Shelley</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Jan, 1818</code><br/>
                      <b>Format: </b><code class="text-dark">276 pages</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Three Men In A Boat">
                    <img src="../../../assets/Novels/Three Men In A Boat/Three_Men_In_A_Boat.jpeg" class="image card-img-top shadow rounded" alt="Three Men In A Boat">
                    <a href="../../../assets/Novels/Three Men In A Boat/Three Men In A Boat.pdf" target="_blank">
                    <button id="novel4" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Three Men In A Boat</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Jerome K. Jerome</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Jan, 1889</code><br/>
                      <b>Format: </b><code class="text-dark">165 - 312 pages</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Story Of My Life">
                    <img src="../../../assets/Novels/Story Of My Life/Story_Of_My_Life.jpeg" class="image card-img-top shadow rounded" alt="Story Of My Life">
                    <a href="../../../assets/Novels/Story Of My Life/Story Of My Life.pdf" target="_blank">
                    <button id="novel5" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Story Of My Life</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Helen Keller</code><br/>
                      <b>Publication On: </b><code class="text-dark">1903</code><br/>
                      <b>Format: </b><code class="text-dark">240 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Fifty Shades Of Grey">
                    <img src="../../../assets/Novels/Fifty Shades Of Grey/Fifty Shades Of Grey.png" class="image card-img-top shadow rounded" alt="Fifty Shades Od Grey">
                    <a href="../../../assets/Novels/Fifty Shades Of Grey/Fifty Shades Of Grey.pdf" target="_blank">
                    <button id="novel6" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Fifty Shades Of Grey</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">E.L.James</code><br/>
                      <b>Publication On: </b><code class="text-dark">25 May, 2011</code><br/>
                      <b>Format: </b><code class="text-dark">514 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Crime And Punishment">
                    <img src="../../../assets/Novels/Crime And Punishment/Crime_And_Punishment.png" class="image card-img-top shadow rounded" alt="Crime And Punishment">
                    <a href="../../../assets/Novels/Crime And Punishment/Crime_and_Punishment-Fyodor_Dostoevsky.pdf" target="_blank">
                    <button id="novel7" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Crime And Punishment</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Fyodor Dostoevsky</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Jan, 1866</code><br/>
                      <b>Format: </b><code class="text-dark">671 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Mind Fuck">
                    <img src="../../../assets/Novels/Mind Fuck/Mind_Fuck.png" class="image card-img-top shadow rounded" alt="Mind Fuck">
                    <a href="../../../assets/Novels/Mind Fuck/Mind Fuck.pdf" target="_blank">
                    <button id="novel8" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Mind F*ck</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">S.T.Abby</code><br/>
                      <b>Publication On: </b><code class="text-dark">7 Jul, 2022</code><br/>
                      <b>Format: </b><code class="text-dark">692 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Man's Search For Meaning">
                    <img src="../../../assets/Novels/Man_s Search For Meaning/Man_s Search For Meaning.png" class="image card-img-top shadow rounded" alt="Man's Search For Meaning">
                    <a href="../.././../assets/Novels/Man_s Search For Meaning/Man_s Search For Meaning.pdf" target="_blank">
                    <button id="novel9" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Man's Search For Meaning</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Viktor E. Frankl</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Jan, 1959</code><br/>
                      <b>Format: </b><code class="text-dark">165 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>	
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="The Silent Patient">
                    <img src="../../../assets/Novels/The Silent Patient/The Silent Patient.png" class="image card-img-top shadow rounded" alt="The Silent Patient">
                    <a href="../../../assets/Novels/The Silent Patient/The Silent Patient.pdf" target="_blank">
                    <button id="novel10" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">The Silent Patient</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Alex Michaelides</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Jan, 2018</code><br/>
                      <b>Format: </b><code class="text-dark">336 pages, Hardcover</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>	
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="White Nights">
                    <img src="../../../assets/Novels/White Nights/White_Nights.jpeg" class="image card-img-top shadow rounded" alt="White Nights">
                    <a href="../../../assets/Novels/White Nights/White_Nights_fiodor_dostoievski.pdf" target="_blank">
                    <button id="novel11" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">White Nights</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Fyodor Dostoevsky</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Jan, 1848</code><br/>
                      <b>Format: </b><code class="text-dark">82 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>	
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="Pride And Prejudice">
                    <img src="../../../assets/Novels/Pride And Prejudice/Pride And Prejudice.png" class="image card-img-top shadow rounded" alt="Pride And Prejudice">
                    <a href="../../../assets/Novels/Pride And Prejudice/Pride And Prejudice.pdf" target="_blank">
                    <button id="novel11" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">Pride And Prejudice</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Jane Austen</code><br/>
                      <b>Publication On: </b><code class="text-dark">28 Jan, 1813</code><br/>
                      <b>Format: </b><code class="text-dark">479 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>	
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <div class="card container shadow py-2" title="The Metamorphosis">
                    <img src="../../../assets/Novels/The Metamorphosis/The Metamorphosis.png" class="image card-img-top shadow rounded" alt="The Metamorphosis">
                    <a href="../../../assets/Novels/The Metamorphosis/The Metamorphosis.pdf" target="_blank">
                    <button id="novel11" class="image-button rounded-circle py-3">▶</button>
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">The Metamorphosis</h5>
                    <p class="card-text">
                      <b>Author: </b><code class="text-dark">Franz Kafka</code><br/>
                      <b>Publication On: </b><code class="text-dark">1 Oct, 1915</code><br/>
                      <b>Format: </b><code class="text-dark">77 pages, Paperback</code><br/>
                      <b>Language: </b><code class="text-dark">English</code><br/>	
                    </p>
                  </div>
                </div>
              </div>
              <!-- Add more cards here -->
          </div>
    </div>
</div>
</div>
<div class="pt-10"><app-footer></app-footer></div>
