<div class="vh-98 overflow-x-hidden">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="container pt-4">
            <div class="row">
              <div class="col-md-3 mb-3">
                <div class="card container shadow py-2" title="Gulliver's Travels">
                    <!-- <img src="https://imgv2-1-f.scribdassets.com/img/word_document/245557238/original/ae1a3ca06a/1627816481?v=1" class="image card-img-top shadow rounded" alt="Image 1"> -->
                    <img src="../../../assets/images/Novels/Gullivers_Travels.jpeg" class="image card-img-top shadow rounded" alt="Image 1">
                    <button id="go1" class="image-button rounded-circle py-3">▶</button>
          
                    <div class="card-body">
                    <h5 class="card-title">Gulliver's Travels</h5>
                    <p class="card-text">Some details about Card 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="card container shadow py-2" title="A Little Life">
                    <!-- <img src="https://imgv2-1-f.scribdassets.com/img/word_document/245557238/original/ae1a3ca06a/1627816481?v=1" class="image card-img-top shadow rounded" alt="Image 1"> -->
                    <img src="../../../assets/images/Novels/A Little Life/A_Little_Life.jpeg" class="image card-img-top shadow rounded" alt="A Little Life Image">
                    <button id="go1" class="image-button rounded-circle py-3">▶</button>
          
                    <div class="card-body">
                    <h5 class="card-title">A Little Life</h5>
                    <p class="card-text">Some details about Card 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="card container shadow py-2" title="Frankenstein">
                    <!-- <img src="https://imgv2-1-f.scribdassets.com/img/word_document/245557238/original/ae1a3ca06a/1627816481?v=1" class="image card-img-top shadow rounded" alt="Image 1"> -->
                    <img src="../../../assets/images/Novels/Frankenstein/Frankenstein.png" class="image card-img-top shadow rounded" alt="Frankenstein Image">
                    <button id="go1" class="image-button rounded-circle py-3">▶</button>
          
                    <div class="card-body">
                    <h5 class="card-title">Frankenstein</h5>
                    <p class="card-text">Some details about Card 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="card container shadow py-2" title="Three Men In A Boat">
                    <img src="../../../assets/images/Novels/Three_Men_In_A_Boat.jpeg" class="image card-img-top shadow rounded" alt="Image 1">
                    <button id="go1" class="image-button rounded-circle py-3">▶</button>
          
                    <div class="card-body">
                    <h5 class="card-title">Three Men In A Boat</h5>
                    <p class="card-text">Some details about Card 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="card container shadow py-2" title="Stoey Of My Life">
                    <img src="../../../assets/images/Novels/Story_Of_My_Life.jpeg" class="image card-img-top shadow rounded" alt="Image 1">
                    <button id="go1" class="image-button rounded-circle py-3">▶</button>
          
                    <div class="card-body">
                    <h5 class="card-title">Stoey Of My Life</h5>
                    <p class="card-text">Some details about Card 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="card">
                  <img src="image2.jpg" class="card-img-top rounded-top" alt="Image 2">
                  <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Some details about Card 2.</p>
                  </div>
                </div>
              </div>
              <!-- Add more cards here -->
            </div>
          </div>
    </div>
</div>
<div class="pt-10"><app-footer></app-footer></div>