<div class="vh-99 overflow-x-hidden" id="pg">
    <div style="margin: 10rem;"></div>
    <div class="div0 container p-5 mt-5">
        <section class="div1 container d-flex">
            <div class="align-items-center d-flex justify-content-center flex-column">
                <h5>Immerse yourself in a world of endless stories! Whether you crave captivating adventures, heart-wrenching romances, or thought-provoking mysteries, our extensive library has something for every reader. Dive into new genres, revisit old favorites, and lose yourself in the magic of books. Explore our collection today and discover your next great read!</h5>
            </div>
            <img src="../../../assets/images/full_logo.png" style="width:40vw"><br>
        </section>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button  class="btn btn-primary rounded-pill ms-4" style="z-index: 2;">Let's Go</button>
    </a>
</div>
<div style="margin: 8.3rem;"></div>
</div>
<div class="pt-0 bottom-0"><app-footer></app-footer></div>