<div class="vh-99 overflow-x-hidden">
    <div class="div0 container p-5 mt-5">
        <section class="div1 container d-flex">
            <div class="align-items-center d-flex justify-content-center flex-column">
                <h4><b>This website is looking for passionate reader who love to explore the different worlds of
                        books,<br />
                        away from the reality sometimes into fiction, sometimes into drama,<br />
                        sometimes into horror and so on.<br /><br /><br /></b></h4>
                <h4>We have a variety of books here, come let's dive into the library of books you may like and
                    love. </h4>
            </div>
            <img id="gif" src="../../../assets/images/full_logo.png" style="width:40vw"><br>
        </section>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="btn btn-primary rounded-pill ms-4" style="z-index: 2;">Let's Go</button>
    </a>
</div>
<p class="pt-0 py-4 m-3">Login and enjoy</p>
</div>
<div class="pt-0 bottom-0"><app-footer></app-footer></div>