<div id="win" class="vh-99 overflow-x-hidden">
  <app-navbar></app-navbar>
  <div class="ele container">
      <div class="container pt-4">
          <div class="row">
            <div class="col-md-3 mb-4">
             <!-- *ngFor="let item of manga"> -->
              <div class="card container shadow py-2" title="Spy x Family">
                  <img src="../../../assets/Manga/Spy x Family/Spy x Family.jpg" class="image card-img-top shadow rounded" alt="Spy x Family">
                  <a href="../../../../../assets/Manga/Spy x Family/Spy x Family.pdf" target="_blank">
                  <button id="novel1" class="image-button rounded-circle py-3">▶</button>
                  </a>
                  <div class="card-body">
                  <h5 class="card-title">Spy x Family</h5>
                  <p class="card-text">
                    <b>Author: </b><code class="text-dark">Tatsuya Endo</code><br/>
                    <b>Publication On: </b><code class="text-dark">June 25, 2019</code><br/>
                    <b>Status: </b><code class="text-dark">Ongoing</code><br/>
                    <b>Language: </b><code class="text-dark">English</code><br/>
                    <b>Origin: </b><code class="text-dark">Japan</code><br/>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="card container shadow py-2" title="Your Name">
                  <img src="../../../assets/Manga/Your Name/Your Name.jpg" class="image card-img-top shadow rounded" alt="Your Name">
                  <a href="../../../assets/Manga/Your Name/Your Name.pdf" target="_blank">
                    <button id="novel2" class="image-button rounded-circle py-3">▶</button>
                    </a>
                  <div class="card-body">
                  <h5 class="card-title">Your Name</h5>
                  <p class="card-text">
                    <b>Author: </b><code class="text-dark">Makoto Shinkai</code><br/>
                    <b>Publication On: </b><code class="text-dark">19 Jun, 2016</code><br/>
                    <b>Status: </b><code class="text-dark">Finished</code><br/>
                    <b>Language: </b><code class="text-dark">English</code><br/>
                    <b>Origin: </b><code class="text-dark">Japan</code><br/>
                  </p>
                </div>
              </div>
            </div>

            <!-- Add more cards here -->
        </div>
  </div>
</div>
</div>
<div class="pt-10"><app-footer></app-footer></div>
